<span *ngIf = "(authService.user | async)?.uid" >
    <div class="example-button-row">
      </div> 
      <p *ngIf="!(articles$ | async)">loading articles...</p>
      <mat-accordion >
          <mat-expansion-panel *ngFor = "let article of articles$ | async">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div mat-card-avatar *ngIf = "article.image"> 
                <img [src] = article.image> 
              </div>
                {{article.category}}
              </mat-panel-title>
            </mat-expansion-panel-header> 
            by {{article.body}} 
              <button mat-raised-button 
                      color="primary"
                      (click) = deleteArticle(article.id)>
                Delete
              </button>         
          </mat-expansion-panel>
        </mat-accordion>
      </span>