<div class="example-button-row">
      </div>
      <p *ngIf="!(disps$ | async)"></p>
      <mat-accordion >
          <mat-expansion-panel *ngFor = "let disp of disps$ | async">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{disp.title}}
              </mat-panel-title>
            </mat-expansion-panel-header> 
           {{disp.body}} <br>
           <button mat-raised-button (click) = "addLikes(disp.id, disp.likes)">LIKE {{disp.likes}}</button>
         
           <button mat-raised-button 
                color="primary"
                (click) = deleteGeneral(disp.id)>
          Delete
        </button>       
          </mat-expansion-panel>

        </mat-accordion>