
<div ng-controller="myCtrl">
    <!-- <p>{{ans}}</p>-->
    </div>   
    <mat-accordion>
        <mat-expansion-panel *ngFor = "let post of posts$">
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{post.id}} )
              {{post.title}}
            </mat-panel-title>
          </mat-expansion-panel-header >
                {{post.body}}
                <br>
              <mat-card-actions>
                <button mat-raised-button color="primary" (click)="myFunc(post.title, post.body, post.id)">Save</button>
                <br>
                <span *ngIf = "post.id==numTo">
                <p>{{ans}}</p>
              </span>
              </mat-card-actions>
              <h3> Comments: </h3>
        <span *ngFor = "let comment of comments$ ">
            <span *ngIf = "post.id==comment.postId">
              Name: {{comment.body}} <br>
               Body: {{comment.body}}
               <br>
               <br>
            </span>
        </span>     
        </mat-expansion-panel>
      </mat-accordion>